<header> 
    <div class="top-header">                
        <nav>
            <ul class="login">
                <% if (locals.isLogged) { %>
                    <img src="/images/users/<%= locals.userLogged.image %>" alt="Imagen foto de perfil" width="40" style="border-radius: 100%">
                    Hola, <%= locals.userLogged.firstName + " " + locals.userLogged.lastName %>

                    <li><a href="/user/profile"><i class="fas fa-portrait"></i></a></li>
                    <li><a href="/user/logout">logout</a></li> 
                    
                <% } else { %>
                    <li></i><a href="/user/register">Registrarse</a></li>
                    <li><a href="/user/login">Ingresá</a></li>
                <% } %>           
            </ul>
        </nav>
    </div>
    
    <div class="mid-header">
        <div class="logo">
            <a href="/"><img src="/img/bikeShop_002_2.png" alt= "Logo de MiBikeShop"></a>
        </div>
            <div class="form" action="#" method="GET">
                <div class="input"> ¿Qué estas buscando?</div>
                <div class="submit"> <i class="fa fa-search"></i>
                </div>
            </div>
                <div class="carrito"><a href="/products/cart"><i class="fas fa-shopping-cart"></i><p>Carrito de compras</p></a></div>
    </div>
<section class="banner"> 
    <img src="/img/banner1.jpg" alt="Banner de ofertas">
</section>
<div class="display-menu">
    <div class="burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
</div>

<nav class="secciones">
    <ul>
        <li><a href="/products/productsAll">Productos</a></li>
        <li><a href="/products/bikes">Bicicletas</a></li>
        <li><a href="/products/accesorios">Accesorios</a></li>
        <li><a href="/products/parts">Componentes</a></li>
        <li><a href="#">Indumentaria</a></li>
        <li><a href="/products/ruedas">Ruedas</a></li>
        <li><a href="/products/ofertas">Ofertas</a></li>
    </ul>           
</nav>

</header>