<head>

    <meta charset='UTF-8'>
    <title>MiBikeShop.com</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/accesoriosStyles.css">
    <link rel="stylesheet" href="/css/adminStyles.css">
    <link rel="stylesheet" href="/css/bikesStyles.css">
    <link rel="stylesheet" href="/css/detalleStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/headerStyles.css">
    <link rel="stylesheet" href="/css/novedadesStyles.css">
    <link rel="stylesheet" href="/css/ofertasStyles.css">
    <link rel="stylesheet" href="/css/productsAllStyles.css">
    <link rel="stylesheet" href="/css/ruedasStyles.css">
    <link rel="stylesheet" href="/css/formulariosStyles.css">
    <link rel="stylesheet" href="/css/loguinStyles.css">
    <link rel="stylesheet" href="/css/carritoStyles.css">

</head>