<!DOCTYPE html>
<html>
    <head>

    <meta charset='UTF-8'>
    <title>MiBikeShop.com</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link hreg='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <header> 
            <div class="top-header">                
                <nav>
                    <ul class="login">
                        <i class="fas fa-portrait"></i>                        
                        <li></i><a href="/registro">Registrarse</a></li>
                        <li><a href="/login">Ingresá</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mid-header">
                <div class="logo">
                    <img src="images/bikeShop_002.png" alt= "Logo de MiBikeShop">
                </div>
                    <div class="form" action="#" method="GET">
                        <div class="input"> ¿Qué estas buscando?</div>
                        <div class="submit"> <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <p><i class="fas fa-shopping-cart"></i><a href="/Carrito">Carrito de compras</a></p>
            </div>
        <section class="banner"> 
            <img src="images/banner.jpg" alt="Banner de ofertas">
        </section>
        <div class="display-menu">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <nav class="secciones">
            <ul>
                <li><a href="#">Bicicletas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Mecánica</a></li>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Ruedas</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>           
        </nav>

        </header>

        <section class="detalle-producto">
            <article>
                <img src="images/bici02.jpg" alt="Foto Bicicleta">
                <h2>BICICLETA FULCRUM</h2>
                <ul class="lista">
                    <li>Trasmision 21 velocidades</li>
                    <li>Rodado 29</li>
                    <li>Frenos a disco mecanico</li>
                    <li>Llantas doble pared</li>
                    <li>Cubiertas Chaoyang 20x2.0</li>
                    <li>Horquilla Fulcrum con suspension</li>
                    <li><b>$90.100</b></li>
                </ul>
            </article>
        </section>
        <section class="boton-comprar-detalle">
            <button><a href="/Carrito">Añadir al Carrito</a></button>
        </section>

        <footer>
            <div class="info">
                <h3>Informacion</h3>
                <p>Somos una de las plataformas de venta online 
                    de bicicletas mas importantes de Argentina.
                </p>
                <p>Nos especializamos en la venta de bicicletas, 
                    componentes, accesorios y los principales productos
                    relacionados con el mundo del ciclismo.
                </p>
            </div>
            <div class="seguinos">
                <h3>Seguinos</h3> 
                <div class="logos-redes">
                    <ul>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-facebook-square"></i></li>
                        <li><i class="fab fa-youtube"></i></li>
                    </ul>           
                </div>
            </div>
            <div class="copyrigth">
                <p>Copyright @ 2021 MiBikeShop.com <i class="fas fa-bicycle"></i></p></i>
            </div>
        </footer>