<!DOCTYPE html>
<html>
    <head>

    <meta charset='UTF-8'>
    <title>MiBikeShop.com</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link hreg='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <header> 
            <div class="top-header">                
                <nav>
                    <ul class="login">
                        <i class="fas fa-portrait"></i>                        
                        <li></i><a href="#">Registrarse</a></li>
                        <li><a href="#">Ingresá</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mid-header">
                <div class="logo">
                    <img src="images/bikeShop_002.png" alt= "Logo de MiBikeShop">
                </div>
                    <div class="form" action="#" method="GET">
                        <div class="input"> ¿Qué estas buscando?</div>
                        <div class="submit"> <i class="fa fa-search"></i>
                        </div>
                    </div>
                        <p><i class="fas fa-shopping-cart"></i>Carrito de compras</p>
            </div>
        <section class="banner"> 
            <img src="images/banner.jpg" alt="Banner de ofertas">
        </section>
        <div class="display-menu">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <nav class="secciones">
            <ul>
                <li><a href="#">Bicicletas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Mecánica</a></li>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Ruedas</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>           
        </nav>

        </header>

    </body>
</html>