<!DOCTYPE html>
<html>
    <head>

    <meta charset='UTF-8'>
    <title>MiBikeShop.com</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link hreg='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <header> 
            <div class="top-header">                
                <nav>
                    <ul class="login">
                        <i class="fas fa-portrait"></i>                        
                        <li></i><a href="/registro">Registrarse</a></li>
                        <li><a href="/login">Ingresá</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mid-header">
                <div class="logo">
                    <a href="/"><img src="images/bikeShop_002.png" alt= "Logo de MiBikeShop"></a>
                </div>
                    <div class="form" action="#" method="GET">
                        <div class="input"> ¿Qué estas buscando?</div>
                        <div class="submit"> <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <p><i class="fas fa-shopping-cart"></i><a href="/Carrito">Carrito de compras</a></p>
            </div>
        <section class="banner"> 
            <img src="images/banner.jpg" alt="Banner de ofertas">
        </section>
        <div class="display-menu">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <nav class="secciones">
            <ul>
                <li><a href="#">Bicicletas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Mecánica</a></li>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Ruedas</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>           
        </nav>

        </header>

        <main class="register">
            <form action="/" method="POST">
                <div class="personal-info">
                <input type="text" name="name" placeholder="Nombre y apellido">
                    <br>
                    <input type="text" name="user" placeholder="Elija un nombre de usuario">
                    <br>
                    <input type="text" name="email" placeholder="ejemplo@undostres.com">
                    <br>
                    <label for="birthd_date"><b>Fecha de nacimiento</b></label>
                    <br>
                    <input type="text" name="birthd_date" id="birth_date">
                    <br>
                    <input type="text" name="address" placeholder="Dirección">
                </div>
                <!-- //Chequear si lo siguiente es necesario: -->

                <h4>Perfil del usuario</h4>
                

                <h4>Marque lo que mejor se adapte a usted:</h4>
                <br>
                <div class="caracteristicas">
                    <div>
                        <input type="checkbox" name="caracteristicas" value="a" id="a">
                        <label for="a">Quiero comenzar en el mundo del ciclismo</label>
                    </div>
                    <div>
                        <input type="checkbox" name="caracteristicas" value="b" id="b">
                        <label for="b">Soy un ciclista principante</label>
                    </div>
                    <div>
                        <input type="checkbox" name="caracteristicas" value="c" id="c">
                        <label for="c">Soy un ciclista experimentado</label>
                    </div>
                    <div>
                        <input type="checkbox" name="caracteristicas" value="d" id="d">
                        <label for="d">Soy un ciclista profesional y competitivo</label>
                    </div>
                </div>

                <!-- <h4>Foto de perfil</h4>
                <input type="file" name="avatar">
                <br>
                <br> -->
                <div class="password">
                    <input type="password" name="pass" placeholder="Creá tu contraseña">
                    <br>
                    <input type="password" name="pass_confirm" placeholder="Ingresá nuevamente tu contraseña">
                    <br>
                    <br>
                </div>
                <div class="botones">
                    <input type="submit" value="Enviar" class="submit">
                    <input type="reset" value="Borrar">
                    <br>
                    <br>
                </div>
            </form>
        </main>
        <footer>
            <section>
                <div class="info">                
                    <h3>Informacion</h3>
                    <p>Somos una de las plataformas de venta online de bicicletas mas importantes de Argentina.
                    </p>
                    <p>Nos especializamos en la venta de bicicletas, componentes, accesorios y los principales productos relacionados con el mundo del ciclismo.</p>
                </div>
                <div class="seguinos">
                    <h3>Seguinos</h3> 
                    <div class="logos-redes">
                        <ul>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-youtube"></i></li>
                        </ul>           
                    </div>
                </div>
            </section>
            <div class="copyrigth">
                <p>Copyright @ 2021 MiBikeShop.com <i class="fas fa-bicycle"></i></p></i>
            </div>
        </footer>

    </body>
</html>