<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/adminStyles.css">
    <title>Admin Page</title>
</head>
<body>
    <div class="profile">
            <i class="fas fa-portrait"></i>
    </div>
        
    <div class="logo">
        <a href="/"><img src="images/bikeShop_002.png" alt= "Logo de MiBikeShop"></a>
    </div>
    
    

    <div class="container">
        <form action="/" method="post">
            <div class="campo">
                <div class="tag">
                    <p>Nombre del producto</p>
                </div>
                <div class="description">
                    <input type="text texto">
                </div>
            </div>
            <div class="campo">
                <div class="tag">
                    <p>Description</p>                    
                </div>
                <div class="description">
                    <textarea name="desripcion" id="" cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="campo">
                <div class="tag">
                    <p>Categoria</p>
                </div>
                <div class="description">
                    <input type="text texto">
                </div>
            </div>
            <div class="campo">
                <div class="tag">
                    <p>Precio</p>
                </div>
                <div class="description">
                    <input type="text texto">
                </div>
            </div>
            <div class="campo">
                <div class="tag">
                    <p>Imagen del producto</p>
                </div>
                <div class="description">
                    <input type="file" name="producto">
                </div>
            </div>
            <div class="botones">                    
                <input type="submit" value="Confirmar" class="submit">
                <input type="reset" value="Borrar">
            </div>
        </form>
        
    </div>
</body>
</html>



