<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
<body>
        <!--  -->
        <%- include('partials/header'); %>
        <!--  -->

        <main class="carrito">
        <h3>Carrito de compras</h3>
        <br>
        <br>
        <p> Resumen de tus productos:</p>
        <div class="resumen">
                <p>No hay productos en tu carrito</p>
        </div>
        <br>        
        <div class="botones-cart">
                <input type="submit" value="Seguir comprando" class="submit">
                <input type="submit" value="Confirmar" class="submit">
                <input type="submit" value="Borrar" class="submit">
        </div>
</main>
        <!-- ## footer ## -->
        <%- include('partials/footer') %>
        <!-- ## footer ## -->
</body>
</html>