<!DOCTYPE html>
<html>
    <!-- ## head ##-->
    <%- include('partial/head') %> 
    <!-- ## head ##-->

    <body>
        <!--## header ##  -->
        <%- include('partial/header') %>
        <!-- ## header ## -->

        <section class="detalle-producto">
            <article>
                <img src="images/bici02.jpg" alt="Foto Bicicleta">
                <h2>BICICLETA FULCRUM</h2>
                <ul class="lista">
                    <li>Trasmision 21 velocidades</li>
                    <li>Rodado 29</li>
                    <li>Frenos a disco mecanico</li>
                    <li>Llantas doble pared</li>
                    <li>Cubiertas Chaoyang 20x2.0</li>
                    <li>Horquilla Fulcrum con suspension</li>
                    <li><b>$90.100</b></li>
                </ul>
            </article>
        </section>
        <section class="boton-comprar-detalle">
            <button><a href="/Carrito">Añadir al Carrito</a></button>
        </section>

                <!-- ## footer## -->
                <%- include('partial/footer') %>
                <!-- ## footer## -->
    </body> 
        </html>