<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
<body>
        <!-- ### HEADER ### -->
        <%- include('partials/header') %>
        <!-- ### HEADER ### -->
        
        <main class="login">
            <form id="form" action="/user/login" method="POST">
                <div class="user">
                    <input type="text" id="email" name="email" placeholder="Email" >
                    <% if (locals.errors && errors.email) { %>
                        <div class="error-text errorEmail">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>

                    <!-- <br> -->
                    <input type="password" id="password" name="password" placeholder="Ingresá tu contraseña" >
                    <!-- <br> -->
                </div>
                <div class="recordarme">
                    <label for="">
                        <input type="checkbox" name="remember_user">
                        Recordar mi usuario
                    </label>
                </div>
                <div class="botones">
                    <input type="submit" value="Ingresar" class="submit">
                </div>
            </form>
        </main>

                <!-- ## footer ## -->
                <%- include('partials/footer') %>
                <!-- ## footer ## -->

                <script src="/js/loginValidation.js"></script>
</body>
</html>