<!DOCTYPE html>
<html>

        <!-- ## head ##-->
        <%- include('partial/head') %> 
        <!-- ## head ##-->

    <body>
        <!--## header ##  -->
        <%- include('partial/header') %>
        <!-- ## header ## -->

        <main class="login">
            <form action="/" method="POST">
                <div class="user">
                    <input type="text" name="user" placeholder="Nombre de usuario">
                    <br>
                    <input type="password" name="pass" placeholder="Ingresá tu contraseña">
                    <br>
                </div>
                <div class="botones">
                    <input type="submit" value="Ingreasr" class="submit">
                </div>
            </form>
        </main>

        <!-- ## footer## -->
        <%- include('partial/footer') %>
        <!-- ## footer## -->
</html>
    </body>