<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
<body>
        <!-- ### HEADER ### -->
        <%- include('partials/header') %>
        <!-- ### HEADER ### -->
        <main class="login">
            <form action="/user/login" method="POST">
                <div class="user">
                    <input type="text" name="email" placeholder="Email" required>
                    <% if (locals.errors && errors.email) { %>
                        <div class="error-text">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                    <br>
                    <input type="password" name="password" placeholder="Ingresá tu contraseña" required>
                    <br>
                </div>
                <div class="recordarme">
                    <label for="">
                        <input type="checkbox" name="remember_user">
                        Recordar mi usuario
                    </label>
                </div>
                <div class="botones">
                    <input type="submit" value="Ingresar" class="submit">
                </div>
            </form>
        </main>

                <!-- ## footer ## -->
                <%- include('partials/footer') %>
                <!-- ## footer ## -->
</body>
</html>