<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
<body>
        <!-- ### HEADER ### -->
        <%- include('partials/header') %>
        <!-- ### HEADER ### -->
        <main class="login">
            <form action="/" method="POST">
                <div class="user">
                    <input type="text" name="user" placeholder="Nombre de usuario" required>
                    <br>
                    <input type="password" name="pass" placeholder="Ingresá tu contraseña" required>
                    <br>
                </div>
                <div class="botones">
                    <input type="submit" value="Ingreasr" class="submit">
                </div>
            </form>
        </main>

                <!-- ## footer ## -->
                <%- include('partials/footer') %>
                <!-- ## footer ## -->
</body>
</html>