*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #e0e0e0
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.top-header i{
    width: 25px;
    height: 25px;
    color: rgb(45, 45, 124);
    font-size: 1.2em;
    
    
    text-align: center;
    
}
.top-header nav{
    width: 100%;
    background-color: #c2c0c0;
    
}
.top-header nav ul{
    list-style: none;
    margin-right: 2px;
    
}
.top-header nav ul li{
    padding-left: 5px;
    padding-right: 5px;
    
}
.top-header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.top-header .login{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px;
    
}
.mid-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.mid-header .logo{
    width: 100%;
    flex-grow: 0.4;
    padding: 10px;
}
.mid-header .logo img{
    width: 100%;
}
.mid-header .carrito a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.mid-header .carrito{
    align-self: center;
    align-content: center;
    margin-right: 2%;    
}
.mid-header .carrito i{
    color: rgb(45, 45, 124);    
}
.mid-header .carrito p{
    display: none;
}

header .form{
    width: 100%;
    display: flex;
    flex-grow: 0.35;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header .form .input {
    width: 100%;
    height: 20px;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    font-size: 9px
}

header .form .submit {
    max-width: 35px;
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15%;
}

header div.mid-header p {
    width: 15%;
    padding-right: 10px;    
}
header .mid-header .submit i{
    font-size: 0.8em;
}

nav.secciones {
    display: none;
}

section.banner img{
    width: 100%;
    margin-bottom: 20px;
}

.display-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.burguer-menu{
    display: flex;
    width: 35px;
    height: 35px;
    background-color: rgb(45, 45, 124);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .top-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;    
    }
    .top-header i{
        width: 25px;
        height: 25px;
        color: rgb(45, 45, 124);
        font-size: 1.5em;
        text-align: center;
        
    }
    .top-header nav{
        width: 100%;
        background-color: #c2c0c0;    
    }
    .top-header nav ul{
        list-style: none;
        margin-right: 2px;
        
    }
    .top-header nav ul li{
        padding-left: 5px;
        padding-right: 5px;
        
    }
    .top-header nav ul li a{
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }
    .top-header .login{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 5px;
    }
    .mid-header{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .mid-header .logo{
        width: 100%;
        flex-grow: 0.4;
        padding: 10px;
    }
    .mid-header .logo img{
        width: 100%;
    }
    .mid-header .carrito a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
    }
    .mid-header .carrito{
        align-self: center;
        align-content: center;
        margin-right: 2%;    
    }
    .mid-header .carrito i{
        color: rgb(45, 45, 124);
        font-size: 20px;    
    }
    .mid-header .carrito p{
        display: none;
    }
    
    header .form{
        width: 100%;
        display: flex;
        flex-grow: 0.35;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    header .form .input {
        width: 100%;
        height: 23px;
        background-color: #FFF;
        border: 1px solid #000;
        outline: none;
        color: #666;
        padding: 2px;
        font-size: 12px
    }
    
    header .form .submit {
        max-width: 35px;
        height: 23px;
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;
        width: 15%;
    }
    
    header div.mid-header p {
        width: 15%;
        padding-right: 10px;    
    }
    header .mid-header .submit i{
        font-size: 0.8em;
    }

    /*CSS BURGUER*/
    .display-menu{
        display: none;
    }
    /*CSS NAV*/
    nav.secciones {
        display: flex;
        padding-bottom: 15px;
    }
    nav.secciones ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav.secciones ul li{
        padding: 5px;
        background-color: rgba(194 192 192);
        border-radius: 4px;
        border: none;
        list-style: none;
    }
    nav.secciones ul li a{
        text-decoration: none;
        color:#834cbf;
    }
    nav.secciones ul li a:hover{
        color: rgb(112, 112, 45);
    }
}

@media (min-width: 1280px){
    nav.secciones{
        height: 60px;
    }
    nav.secciones ul li{
        height: 45px;
        padding: 12px;
    }
}