
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #e0e0e0
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.top-header i{
    width: 25px;
    height: 25px;
    color: rgb(45, 45, 124);
    font-size: 1.2em;
    
    
    text-align: center;
    
}
.top-header nav{
    width: 100%;
    background-color: #c2c0c0;
    
}
.top-header nav ul{
    list-style: none;
    margin-right: 2px;
    
}
.top-header nav ul li{
    padding-left: 5px;
    padding-right: 5px;
    
}
.top-header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.top-header .login{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px;
    
}
.mid-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.mid-header .logo{
    width: 100%;
    flex-grow: 0.4;
    padding: 10px;
}
.mid-header .logo img{
    width: 100%;
}
.mid-header .carrito a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.mid-header .carrito{
    align-self: center;
    align-content: center;
    margin-right: 2%;    
}
.mid-header .carrito i{
    color: rgb(45, 45, 124);    
}
.mid-header .carrito p{
    display: none;
}

header .form{
    width: 100%;
    display: flex;
    flex-grow: 0.35;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header .form .input {
    width: 100%;
    height: 20px;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    font-size: 9px
}

header .form .submit {
    max-width: 35px;
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15%;
}

header div.mid-header p {
    width: 15%;
    padding-right: 10px;    
}
header .mid-header .submit i{
    font-size: 0.8em;
}

nav.secciones {
    display: none;
}

section.banner img{
    width: 100%;
    margin-bottom: 20px;
}

.display-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.burguer-menu{
    display: flex;
    width: 35px;
    height: 35px;
    background-color: rgb(45, 45, 124);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/*ESTILOS MAIN*/

main h2{
    text-align: center;
    margin-bottom: 15px;
}
main .productos-novedades{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
}
/* main .productos-novedades img,
main .productos-destacados img{
width: 100%;
} */
.novedades img{
    width: 90%;
    
    border-bottom: none;
    background-color: #C2C0C0;
    padding: 10px;
}
main .detalle{
    
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-top: #C2C0C0;
    background-color: #C2C0C0;
    padding: 10px;    
}

main .productos-destacados{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    }
.destacados img{
    width: 90%;
    border-bottom: none;
    background-color: #C2C0C0;
    padding: 10px
}

/*ESTILOS FOOTER*/
footer{
    margin-top: 20px ;
    padding-top: 15px;
    background-color: #C2C0C0;
    
}
footer section{
    display: flex;
    flex-wrap: wrap;
    
    
}
footer .info{
    width: 80%;
    margin: auto;
    text-align: center;
}
footer .info p{
    margin-top: 10px;
}
footer .seguinos{
    width: 90%;
    height: 80px;
    margin: auto;
    text-align: center;
}
footer .seguinos h3{
    margin-top: 15px;
}
footer .seguinos div.logos-redes ul{
    font-size: 1.7rem;
    padding: 0 0 34px;
    text-align: center;
}
footer .seguinos div.logos-redes li{
    display: inline;
}
footer .copyrigth{
    width: 90%;
    height: 30px;
    margin: auto;
    text-align: center;
}
footer i{
    color: rgb(45, 45, 124) ;
    margin-top: 5px;
}


/*    #### ESTILOS FORMULARIOS #### */

.register{
    background-color: #c2c0c0;
    width: 80%;    
    border: solid 1px #000;
    border-radius: 10PX;    
    padding: 20px 0;
    margin: auto;
    text-align: center;
}
.register .personal-info input,
.register .password input{
    margin: 5px 0;
    padding: 3px;
    width: 80%;
    border-radius: 4px;
}
.register .caracteristicas{
    padding-left: 10%;
    text-align: left;
}
.register h4{
    padding-left: 10%;
    padding-right: 10%;
}

.register .botones input{
    padding: 5px;
    background-color: rgb(45, 45, 124);
    color: white;
    border-radius: 4px;
    border: none;
}

/*  #### ESTILOS LOGIN #### */

main.login{
    background-color: #c2c0c0;
    width: 80%;    
    border: solid 1px #000;
    border-radius: 10PX;    
    padding: 20px 0;
    margin: auto;
    text-align: center;
}
main.login .user input{
    margin: 5px 0;
    padding: 3px;
    width: 80%;
    border-radius: 4px;
}
main.login .botones input{
    padding: 5px;
    background-color: rgb(45, 45, 124);
    color: white;
    border-radius: 4px;
    border: none;
}

/* ESTILOS DETALLE DE PRODUCTO */

.detalle-producto article{
    width: 90%;
    border: #000 solid 1px;
    border-radius: 8px;
    margin: auto;
    background-color: #c2c0c0;
}
.detalle-producto article img{
    width: 100%;
    padding: 10px;
    
}
.detalle-producto article h2{
    margin: 10px;
    text-align: center;
}
.detalle-producto article .lista{
    text-align: center;
}
.detalle-producto article li{
    list-style: none;
    margin: 10px;
}
.boton-comprar-detalle{
    text-align: center; 
    padding-top: 10px;  
    margin-bottom: 10px; 
}

.boton-comprar-detalle button{
    padding: 5px;
    background-color: rgb(45, 45, 124);
    
    border-radius: 4px;
    border: none;
}

.boton-comprar-detalle button a{
    color: white;
    text-decoration: none;
    padding: 5px;
}


/* #### ESTILOS CARRITO DE COMPRAS #### */

.botones-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.botones-cart input{
    padding: 5px;
    background-color: rgb(45, 45, 124);
    color: white;
    border-radius: 4px;
    border: none;
    min-width: 119px;
    margin: 5px;
}
main.carrito{
    border: solid 1px #000;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    background-color: #c2c0c0;
    text-align: center;
    padding: 10px 0;
}

/*ESTILOS PRODUCTSALL*/
    .productsAll .productos-novedades{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    
    }
    .productsAll .novedades{
        border: #000 solid 1px;
    border-radius: 8px;
    margin: auto;
    background-color: #c2c0c0;
    }
    .productsAll .novedades img{
        width: 90vw;
        border-bottom: none;
        background-color: #C2C0C0;
        padding: 10px;
    }
    .productsAll .detalle{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        border-top: #C2C0C0;
        background-color: #C2C0C0;
        padding: 10px;    
    }
    .productsAll .detalle h4{
        font-size: 24px;
        margin: 10px;
    }
    .productsAll .detalle .description{
        font-size: 18px;
        margin: 8px;
    }
    .productsAll .detalle .precio{
        font-size: 18px;
        margin: 6px;
    }
    .productsAll .detalle a{
        font-size: 22px;
    }

@media (min-width: 768px) {
    /*ESTILOS HEADER*/
    .top-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        
    }
    .top-header i{
        width: 25px;
        height: 25px;
        color: rgb(45, 45, 124);
        font-size: 1.5em;
        
        
        text-align: center;
        
    }
    .top-header nav{
        width: 100%;
        background-color: #c2c0c0;
        
    }
    .top-header nav ul{
        list-style: none;
        margin-right: 2px;
        
    }
    .top-header nav ul li{
        padding-left: 5px;
        padding-right: 5px;
        
    }
    .top-header nav ul li a{
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }
    .top-header .login{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 5px;
        
    }
    .mid-header{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .mid-header .logo{
        width: 100%;
        flex-grow: 0.4;
        padding: 10px;
    }
    .mid-header .logo img{
        width: 100%;
    }
    .mid-header .carrito a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
    }
    .mid-header .carrito{
        align-self: center;
        align-content: center;
        margin-right: 2%;    
    }
    .mid-header .carrito i{
        color: rgb(45, 45, 124);
        font-size: 20px;    
    }
    .mid-header .carrito p{
        display: none;
    }
    
    header .form{
        width: 100%;
        display: flex;
        flex-grow: 0.35;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    header .form .input {
        width: 100%;
        height: 23px;
        background-color: #FFF;
        border: 1px solid #000;
        outline: none;
        color: #666;
        padding: 2px;
        font-size: 12px
    }
    
    header .form .submit {
        max-width: 35px;
        height: 23px;
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;
        width: 15%;
    }
    
    header div.mid-header p {
        width: 15%;
        padding-right: 10px;    
    }
    header .mid-header .submit i{
        font-size: 0.8em;
    }

    /*CSS BURGUER*/
    .display-menu{
        display: none;
    }
    /*CSS NAV*/
    nav.secciones {
        display: flex;
        padding-bottom: 15px;
    }
    nav.secciones ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav.secciones ul li{
        padding: 5px;
        background-color: rgba(194 192 192);
        border-radius: 4px;
        border: none;
        list-style: none;
        
    }
    nav.secciones ul li a{
        text-decoration: none;
        color:#834cbf;
        
        
    }
    nav.secciones ul li a:hover{
        color: rgb(112, 112, 45);
    }

    /*ESTILOS MAIN*/
    main h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 30px;
    }
    main .productos-novedades{
        display: flex;
        text-align: center;
        margin-bottom: 30px;
        justify-content: center;
    }
    /* main .productos-novedades img,
    main .productos-destacados img{
    width: 100%;
    } */
    .novedades img{
        width: 90vw;
        
        border-bottom: none;
        background-color: #C2C0C0;
        padding: 10px;
    }
    main .detalle{
        
        width: 90vw;
        display: flex;
        justify-content: space-around;
        margin: auto;
        border-top: #C2C0C0;
        background-color: #C2C0C0;
        padding: 10px;    
    }
    main .detalle .description h4{
        font-size: 20px;
    }
    main .detalle .precio p{
        font-size: 20px;
    }
    main .detalle a{
        font-size: 20px;
    }
    
    main .productos-destacados{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
        }
    .destacados img{
        width: 90vw;
        border-bottom: none;
        background-color: #C2C0C0;
        padding: 10px
    }

    /*CSS REGISTRO*/
    .register{
        margin-top: 10px;
    }
    /*CSS LOGIN*/
    main.login{
        margin-top: 10px;
    }

    /*CSS DETALLE DE PRODUCTO*/
    .detalle-producto article li{
        font-size: 18px;
    }
    .detalle-producto article h2{
        font-size: 24px;
    }
    .boton-comprar-detalle button{
        font-size: 18px;
        margin-top: 10px;
    }

    /*CSS CARRITO*/
    main.carrito {
        margin-top: 10px;
    }

    main.carrito h3{
        font-size: 24px;
    }
    main.carrito p{
        font-size: 18px;
    }
    .botones-cart input{
        width: 25%;
        font-size: 17px;
    }
}

@media (min-width: 1280px){
    /*CSSS NAV SECCIONES*/
    nav.secciones{
        height: 60px;
    }
    nav.secciones ul li{
        height: 45px;
        padding: 12px;
    }

    main h2{
        font-size: 38px;
        margin: 15px;
    }

    /*CSS NOVEDADES*/
    main .nov{
        display: flex;
    /* flex-wrap: nowrap; */
        align-items: center;
        justify-content: space-around;
    }
    main .productos-novedades{
        width: 32%;
    }
    main .novedades{
        width: 100%;
    }
    main .novedades img{
        width: 100%;
        height: 260px;
    }
    main .detalle{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    main .des{
        display: flex;
    /* flex-wrap: nowrap; */
        align-items: center;
        justify-content: space-around;
    }
    main .productos-destacados{
        width: 32%;
    }
    main .destacados{
        width: 100%;
    }
    main .destacados img{
        width: 100%;
        height: 260px;
    }
    main .detalle{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    /* ESTILOS DETALLE DE PRODUCTO */

.detalle-producto article{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.detalle-producto article img{
    width: 75%;
    }
.detalle-producto .contenedor{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    }

/*ESTILOS PRODUCTSALL*/

.productsAll .productos-novedades{
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    
    }
    .productsAll .novedades{
    display: flex;
    }
    .productsAll .novedades a{
        width: 60%;
    }
    .productsAll .novedades img{
        width: 100%;
    }
    .productsAll .detalle{
        display: flex;
        align-items: center;  
        width: 40%;  
    }
    .productsAll .detalle h4{
        font-size: 30px;
        margin: 10px;
    }
    .productsAll .detalle .description{
        font-size: 23px;
        margin: 15px;
    }
    .productsAll .detalle .precio{
        font-size: 23px;
        margin: 6px;
    }
    .productsAll .detalle a{
        font-size: 24px;
    }
}



