<header> 
    <div class="top-header">                
        <nav>
            <ul class="login">
                <li></i><a href="/registro">Registrarse</a></li>
                <li><a href="/login">Ingresá</a></li>
                <i class="fas fa-portrait"></i>      
            </ul>
        </nav>
    </div>
    <div class="mid-header">
        <div class="logo">
            <a href="/"><img src="images/bikeShop_002.png" alt= "Logo de MiBikeShop"></a>
        </div>
            <div class="form" action="#" method="GET">
                <div class="input"> ¿Qué estas buscando?</div>
                <div class="submit"> <i class="fa fa-search"></i>
                </div>
            </div>
                <div class="carrito"><a href="/Carrito"><i class="fas fa-shopping-cart"></i><p>Carrito de compras</p></a></div>
    </div>
<section class="banner"> 
    <img src="images/001f.jpg" alt="Banner de ofertas">
</section>
<div class="display-menu">
    <div class="burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
</div>

<nav class="secciones">
    <ul>
        <li><a href="#">Bicicletas</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Componentes</a></li>
        <li><a href="/products/productsAll">Productos</a></li>
        <li><a href="#">Indumentaria</a></li>
        <li><a href="#">Ruedas</a></li>
        <li><a href="#">Ofertas</a></li>
    </ul>           
</nav>

</header>