<header> 
    <div class="top-header">                
        <nav>
            <ul class="login">
                <% if (locals.isLogged) { %>
                    <img src="/images/users/<%= locals.userLogged.avatar %>" alt="Imagen foto de perfil" width="40" style="border-radius: 50%">
                    Hola, <%= locals.userLogged.name + " " + locals.userLogged.lastName %>

                    <li><a href="/user/profile"><i class="fas fa-portrait"></i></a></li>
                    <li><a href="/user/logout">logout</a></li> 
                    
                <% } else { %>
                    <li><a href="/user/register">Registrarse</a></li>
                    <li><a href="/user/login">Ingresá</a></li>
                <% } %>           
            </ul>
        </nav>
    </div>
    
    <div class="mid-header">
        <div class="logo">
            <a href="/"><img src="/img/bikeShop_002_2.png" alt= "Logo de MiBikeShop"></a>
        </div>
        <div class="search-bar">
                <form action="/products/search" method="GET">
                        <input type="search" name="name" id="" class="search-input" placeholder="Buscador Mi Bike Shop">   
                        <button type="submit" class="search-form-button"><i class="fas fa-search"></i></button>
                </form>
        </div>
        <div class="carrito"><a href="/products/cart"><i class="fas fa-shopping-cart"></i><p>Carrito de compras</p></a>
        </div>
    </div>
    <section class="banner"> 
        <img src="/img/banner1.jpg" alt="Banner de ofertas">
    </section>

<div class="display-menu">
    <div class="burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
</div>

<nav class="secciones">
    <ul>
        <li><a href="/products/productsAll">Productos</a></li>
        <li><a href="/products/bikes">Bicicletas</a></li>
        <li><a href="/products/accesorios">Accesorios</a></li>
        <li><a href="/products/parts">Componentes</a></li>
        <li><a href="/products/ruedas">Ruedas</a></li>
        <li><a href="/products/ofertas">Ofertas</a></li>
    </ul>           
</nav>

</header>